<%= render "nav"%>
<div class = "container"> 
  <div class = "row">
    <div class = "col">
      <h1 class = "text-center"> Visit Notes </h1> 
    </div>
    <div class = "col text-center">
      <%= link_to 'Add note', new_note_path, :class => 'btn btn-primary' %> 
    </div>
  </div>
  <br>

  <% @notes.each do | n | %>
    <h2 class> <%=  link_to n.title , note_path(n)  %> </h2>  <br>
  <% end %>
</div>



